# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ieyljeutqfqnshsmuxuk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlleWxqZXV0cWZxbnNoc211eHVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5NzA2MDQsImV4cCI6MjA3NzU0NjYwNH0.VImSCjP9PbmnmojJpBrvnqiJ5Rx_w1piIy_IQ-yFw6g
